@import '../../../styles/_variables';

.main {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  row-gap: $padding-200;
  column-gap: $padding-200;

  padding: $padding-400 $padding-400;
  min-width: 1000px;
  max-width: 1400px;
  margin: 0 auto;

  &.one {
    grid-template-columns: repeat(1, 1fr);
  }

  &.two {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three {
    grid-template-columns: repeat(3, 1fr);
  }
}
