@import '../../../styles/_variables';

.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: 40vw;
  min-width: 400px;
  max-width: 600px;
  height: 100vh;
  padding: $padding-100;

  background-color: $color-700;

  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem;
    min-height: 66px;

    background-color: $color-700;
    z-index: 10;

    @media (min-width: 1024px) {
      min-height: 74px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: $color-700;
  }
}

// .root {
//   @apply relative h-full flex flex-col;
// }

// .header {
//   @apply sticky top-0 pl-4 py-4 pr-6
//   flex items-center justify-between
//   bg-accent-0 box-border w-full z-10;
//   min-height: 66px;
// }

// .container {
//   @apply flex flex-col flex-1 box-border;
// }

// @screen lg {
//   .header {
//     min-height: 74px;
//   }
// }
