@import './_variables';

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  color: $color-100;
  background: $color-800;

  section {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: $color-800;
      background-image: url('/textures/paper/paper.png');
      mask-size: 100%;
      mix-blend-mode: multiply;
      opacity: 0.5;
    }
  }

  h1 {
    font-size: $font-size-600;
    font-weight: $font-weight-300;
    text-align: center;
    line-height: 1em;

    color: $color-100;
  }

  h2 {
    font-size: $font-size-500;
    font-weight: $font-weight-300;
    line-height: 1em;

    color: $color-100;
  }

  h3 {
    font-size: $font-size-400;
    font-weight: $font-weight-300;

    color: $color-100;
  }

  h4 {
    font-size: $font-size-300;
    font-weight: $font-weight-200;

    color: $color-200;
  }

  h5 {
    font-size: $font-size-200;
    font-weight: $font-weight-200;

    color: $color-100;
  }

  p {
    font-family: $font-secondary;
    font-size: $font-size-100;
    font-weight: $font-weight-100;

    color: $color-300;
  }

  strong {
    font-family: $font-primary;
    font-size: $font-size-100;
    font-weight: $font-weight-100;

    color: $color-500;
  }
}
