html,
body {
  margin: 0;
  padding: 0;

  background-color: #ebeded;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;

  line-height: 1.1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
