@import '../../styles/_variables';

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-700;

  .content {
    position: relative;

    padding: 110px;

    .logo {
      position: absolute;
      mix-blend-mode: multiply;
    }

    .cutout {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      width: 400px;
      height: 600px;

      // img {
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;

      //   &:nth-of-type(1) {
      //     clip-path: polygon(27.68% 39.7%, 27.26% 55.5%, 4.98% 56.24%, 4% 34%);
      //     transform: translateY(-28%) translateX(-7%);
      //     z-index: 5;
      //   }

      //   &:nth-of-type(2) {
      //     clip-path: polygon(
      //       39.74% 26.34%,
      //       38.44% 32.64%,
      //       23.59% 32.93%,
      //       23.88% 23.08%,
      //       39.76% 23.31%
      //     );
      //     transform: translateX(1.5%);
      //     z-index: 4;
      //   }

      //   &:nth-of-type(3) {
      //     clip-path: polygon(
      //       35.25% 9.9%,
      //       57.56% -0.7%,
      //       99.8% 17.91%,
      //       99.99% 98.21%,
      //       44.86% 97.9%,
      //       45.69% 56.45%,
      //       34.56% 21.78%
      //     );
      //     transform: translateX(8%);
      //     z-index: 3;
      //   }

      //   &:nth-of-type(4) {
      //     clip-path: polygon(
      //       59.86% 43.28%,
      //       74.72% 43.59%,
      //       77.62% 76.23%,
      //       43.5% 74.22%,
      //       42.87% 49.62%
      //     );
      //     transform: scale(1.1);
      //     z-index: 2;
      //   }

      //   &:nth-of-type(5) {
      //     clip-path: polygon(
      //       23.34% 83.14%,
      //       22.68% 91.56%,
      //       25.74% 97.54%,
      //       1.81% 99.23%,
      //       0.24% 82.91%
      //     );
      //     transform: scale(1.03) translateX(-1.5%) translateY(1%) rotate(0.2deg);
      //     z-index: 1;
      //   }
      // }
    }
  }
}
