@import '../../../styles/_variables';

.main {
  position: relative;

  width: 100%;
  max-width: 100vw;
  padding: $padding-200 $padding-200 $padding-400;

  overflow: hidden;

  .tear {
    position: absolute;
    top: 0;
    left: -50%;
    right: -50%;
    bottom: auto;

    height: 20vh;

    opacity: 0.7;
    z-index: 0;

    &.bottom {
      bottom: 0;
      top: auto;

      transform: rotate(180deg);
    }
  }

  .content {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 10;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: $padding-100;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
